.primed-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal{
    position: fixed;
    top: 35px;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-50%);

    /* &pic {
        width: 100%;
        height: 100%;
    } */

    &_tab {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        &_title_container{
        background-color: #198282;

        &_item{
            font-size: 25px;
            margin-bottom: 20px;
        }
    }
    
        &_age_icon {
            width: 55px;
            height: 55px;
        }
        
        /* &_ba_icon {
            width: 50px;
            height: 50px;
        } */
        
        &_download_icon {
            width: 45px;
            height: 45px;
        }
    }

    &_description {
        font-size: 16px;
    }
}

.history-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.society-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nature-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sports-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 550px;
}

p{
    font-size: 16px;
}
