@import '../utils/mixins'; 

.loadingScreen {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;

    &.visible{
        opacity: 1;
        visibility: visible;
    }

.loadingScreen__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: auto;
    height: 100px;
    color: orange;
    text-transform: uppercase;
    font-size: 50px;

    @include tablet { 
        font-size: 55px;
    }

    @include desktop { 
        font-size: 60px;
    }

    .loadingScreen__text__span {
        @for $i from 1 through 9 {
            &:nth-child(#{$i}) {
            $delayTime: 100 * $i + ms;
            display: inline-block;
            animation-name: loaderColor;
            animation-iteration-count: infinite;
            animation-delay: $delayTime;
            animation-timing-function: ease;
            animation-fill-mode: both;
            backface-visibility: hidden;
            animation-duration: 0.5s;
            }
        }
        padding: 5px;
        vertical-align: middle;
    }
}
}

@keyframes loaderColor {
    0% {
        color: lighten(grey, 46%);
    }
    50% {
        color: orange;
    }
    100% {
        color: lighten(grey, 46%);
    }
}
