.modal {
    position: fixed;
    top: 35px;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-50%);
}