@import '../utils/mixins'; 

.main-nav { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #198282;
    // border-bottom: 2px solid black;
    
    &-logo {
        padding: 15px 0px 0px 5px;

        @include desktop {
            padding: 20px;
        }

        &-image {
            width: 3em;
            transition: all 0.3s ease;
        
            @include tablet {
                width: 3em;
            }

            @include desktop {
                width : 5em;
            }
        }
    }
}

.link {
    font-size: 18px;
    color: inherit;
    text-decoration: none;
}

.link:visited {
    color: inherit;
    text-decoration: none;
}